@import './abstracts/mixins';
@import './abstracts/variables';
@import './base/_normalize.css';
@import './/base/fonts';
@import './components/buttons';
@import './layout/footer';
@import './layout/header';
@import './pages/main';
@import './components/burger';
@import './components/logo';
@import './layout/text';
@import './layout/base';
@import './pages/services';
@import './pages/about';
@import './pages/contacts';
@import './pages/ideas';
@import './layout/form';
@import './pages/blog';
@import './pages/blogpage';
@import './pages/team';
@import './pages/careers';
@import './pages/allvacancies';
@import './pages/job';

*,
body {
  font-family: 'Mont-Regular';
  -webkit-tap-highlight-color: transparent;
}

.noscroll {
  overflow: hidden;
  position: fixed;
  transition: all 0.3s;
}

.page {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.page::-webkit-scrollbar {
  display: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}
