@import './abstracts/mixins';
@import './abstracts/variables';
@import './base/_normalize.css';
@import './/base/fonts';
@import './components/buttons';
@import './layout/footer';
@import './layout/header';
@import './pages/main';
@import './components/burger';
@import './components/logo';
@import './layout/text';
@import './layout/base';
@import './pages/services';
@import './pages/about';
@import './pages/contacts';

*,
body {
  font-family: 'Mont-Regular';
  -webkit-tap-highlight-color: transparent;
}

.noscroll {
  overflow: hidden;
  transition: all 0.3s;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

*,
::after,
::before {
  box-sizing: border-box;
}
