.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  max-width: 1260px;
  margin: 0 auto !important;

  @media (max-width: 1310px) {
    padding: 20px;
  }
  // @media (max-width: 720px) {
  //   padding: 16px;
  // }
}

.readmore {
  font-weight: 700;
  color: $main-color;
  border-bottom: 1px solid $main-color;
  cursor: pointer;
}

.top-back {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -5;
}

.more {
  display: none !important;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 720px) {
    display: none;
  }
  &__page {
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: $grey-color;
    margin: 0 8px;
  }
  &__page_active {
    color: $black-color;
  }
  &__arrow {
    cursor: pointer;
    width: 20px;
  }
  &__arrow.left {
    top: 3px;
    position: relative;
  }
  &__more-pages {
    margin: 0 8px;
    color: $grey-color;
  }
}
