.form {
  display: flex;
  flex-direction: column;
  background: $lightgrey-color;
  &__input {
    background: $white-color;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 14px 0 14px 24px;
    outline: none;
    margin-bottom: 28px;
    transition: 0.2s ease;
  }
  &__label {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  &__input::placeholder {
    color: $grey-color;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  &__input:active,
  &__input:focus {
    transition: 0.2s ease;
    border: 1px solid #2ed8ea;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  &__input:hover {
    transition: 0.2s ease;
    border: 1px solid $grey-color;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  &__input:disabled {
    border: 1px solid #e3e8ee;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  &__input.error {
    border: 1px solid #f43838;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  &__error {
    opacity: 0;
    z-index: -5;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    bottom: 15px;
  }
  &__error.error {
    opacity: 1;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }
  &__error-message {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #f03232;
    margin: 0 0 0 4px;
  }
}

input:required:invalid {
  border: 1px solid #f43838;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

// input[type='checkbox'] {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   -webkit-tap-highlight-color: transparent;
//   outline: none;
//   cursor: pointer;
//   position: relative;
//   overflow: hidden;
//   border-radius: 50%;
//   width: 16px;
//   height: 16px;
//   border: 1px solid $black-color;
//   transition: transform 0.3s;
//   transform: scale(var(--scale, 1)) translateZ(0);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   &:before,
//   &:after {
//     content: '';
//     animation: var(--name-icon-b, var(--name-icon, unchecked-icon)) 0.2s ease
//       forwards;
//   }
//   &:before {
//     content: '●';
//   }
//   &:after {
//     content: '';
//   }
//   &:active {
//     --scale: 0.95;
//   }
//   &:checked {
//     --name: checked;
//     --name-icon-b: checked-icon;
//     --name-icon-a: unchecked-icon;
//   }
// }

// @keyframes checked-icon {
//   from {
//     transform: translateZ(12px);
//   }
//   to {
//     transform: translateX(16px) rotateY(90deg) translateZ(12px);
//   }
// }

// @keyframes unchecked-icon {
//   from {
//     transform: translateX(-16px) rotateY(-90deg) translateZ(12px);
//   }
//   to {
//     transform: translateZ(12px);
//   }
// }

// @keyframes checked {
//   from {
//     background-image: radial-gradient(
//       ellipse at center,
//       var(--primary) 0%,
//       var(--primary) 25%,
//       var(--secondary) 25.1%,
//       var(--secondary) 100%
//     );
//     background-position: 100% 50%;
//   }
//   to {
//     background-image: radial-gradient(
//       ellipse at center,
//       var(--primary) 0%,
//       var(--primary) 25%,
//       var(--secondary) 25.1%,
//       var(--secondary) 100%
//     );
//     background-position: 50% 50%;
//   }
// }

// @keyframes unchecked {
//   from {
//     background-image: radial-gradient(
//       ellipse at center,
//       var(--secondary) 0%,
//       var(--secondary) 25%,
//       var(--primary) 25.1%,
//       var(--primary) 100%
//     );
//     background-position: 100% 50%;
//   }
//   to {
//     background-image: radial-gradient(
//       ellipse at center,
//       var(--secondary) 0%,
//       var(--secondary) 25%,
//       var(--primary) 25.1%,
//       var(--primary) 100%
//     );
//     background-position: 50% 50%;
//   }
// }

// @keyframes unchecked {
//   from {
//     background-image: radial-gradient(
//       ellipse at center,
//       var(--secondary) 0%,
//       var(--secondary) 25%,
//       var(--primary) 25.1%,
//       var(--primary) 100%
//     );
//     background-position: 100% 50%;
//   }
//   to {
//     background-image: radial-gradient(
//       ellipse at center,
//       var(--secondary) 0%,
//       var(--secondary) 25%,
//       var(--primary) 25.1%,
//       var(--primary) 100%
//     );
//     background-position: 50% 50%;
//   }
// }
