.form {
  display: flex;
  flex-direction: column;
  background: $lightgrey-color;
  &__input {
    background: $white-color;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 14px 0 14px 24px;
    outline: none;
    margin-bottom: 28px;
    transition: 0.2s ease;

    @media (max-width: 720px) {
      padding: 11px 0 11px 16px;
    }
  }
  &__label {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  &__input::placeholder {
    color: $grey-color;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  &__input:active,
  &__input:focus {
    transition: 0.2s ease;
    border: 1px solid #2ed8ea;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  &__input:hover {
    transition: 0.2s ease;
    border: 1px solid $grey-color;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  &__input:disabled {
    border: 1px solid #e3e8ee;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  &__input.error {
    border: 1px solid #f43838;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  &__error {
    opacity: 0;
    z-index: -5;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    bottom: 15px;
  }
  &__error.error {
    opacity: 1;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }
  &__error-message {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #f03232;
    margin: 0 0 0 4px;
  }
}

input:required:invalid {
  border: 1px solid #f43838;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
