.header {
  width: 100%;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    @media (max-width: 720px) {
      position: relative;
      padding: 0 !important;
    }
  }
  &__logo {
    @media (max-width: 720px) {
      z-index: 200;
      margin: 5px 0 0 15px;
    }
  }

  &__col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 715px;
    width: 100%;
  }
  &__button {
    max-width: 135px;
    width: 100%;
  }
  &__btn {
    @include padding(14px, 15px);
    @media (max-width: 720px) {
      display: none;
    }
  }

  &__phone {
    display: none;
    @media (max-width: 720px) {
      display: block;
      position: absolute;
      background: none;
      border: none;
      cursor: pointer;
      top: 14px;
      right: 50px;
      z-index: 200;
    }
  }

  &__close {
    display: none;
  }

  &__close.active {
    @media (max-width: 720px) {
      display: block;
      position: absolute;
      cursor: pointer;
      right: 15px;
      top: 15px;
      width: 25px;
      height: 25px;
      opacity: 1;
      z-index: 120;
    }
  }

  &__close:hover {
    @media (max-width: 720px) {
      opacity: 0.3;
    }
  }

  &__close:before,
  &__close:after {
    @media (max-width: 720px) {
      position: absolute;
      left: 11px;
      content: '';
      height: 22px;
      width: 2px;
      background-color: $black-color;
    }
  }

  &__close:before {
    @media (max-width: 720px) {
      transform: rotate(45deg);
    }
  }

  &__close:after {
    @media (max-width: 720px) {
      transform: rotate(-45deg);
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  max-width: 470px;
  width: 100%;
  transition: 0.2s ease-in-out;

  @media (max-width: 720px) {
    position: fixed;
    top: -1000px;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $lightgrey-color;
    max-width: none;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
  }
  &__link_white {
    color: $white-color;
    text-decoration: none;
    transition: 0.2s ease;
    &:hover {
      color: $grey-color;
      transition: 0.2s ease;
    }
    @media (max-width: 720px) {
      margin-bottom: 32px;
      color: $black-color;
    }
  }
  &__link_white:last-child {
    @media (max-width: 720px) {
      margin-bottom: 0;
    }
  }
  &__link {
    color: $black-color;
    text-decoration: none;
    transition: 0.2s ease;
    &:hover {
      color: $grey-color;
      transition: 0.2s ease;
    }
    @media (max-width: 720px) {
      margin-bottom: 32px;
    }
  }
  &__link:last-child {
    @media (max-width: 720px) {
      margin-bottom: 0;
    }
  }
}

.menu.active {
  @media (max-width: 720px) {
    position: fixed;
    top: 0px;
  }
}

.menu__link_active {
  color: $main-color;
}
