.allvacancies-banner {
  @media (max-width: 1300px) {
    padding: 0 20px;
    margin-top: 30px;
  }
  &__top {
    background: $dark-background;
    width: 100%;
    position: relative;
    padding: 52px 0 52px 108px;
    @media (max-width: 720px) {
      padding: 16px 16px 32px 16px;
    }
  }
  &__main-title {
    color: $white-color;
    @media (max-width: 720px) {
      text-align: center;
    }
  }
  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    @media (max-width: 720px) {
      display: none;
    }
  }
}

.allvacancies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1260px;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1260px;
    width: 100%;
    margin-bottom: 48px;
    margin: 50px 0 48px 0;
    @media (max-width: 720px) {
      margin: 24px 0 32px 0;
    }
  }
  &__table {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1300px) {
      column-gap: 15px;
    }
  }
  &__col-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 43px;
    @media (max-width: 720px) {
      margin: 25px 0 5px 0;
    }
  }

  &__back-container {
    display: none;
    @media (max-width: 720px) {
      display: flex;
      cursor: pointer;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__col-title {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    @media (max-width: 720px) {
      display: none;
    }
  }
  &__clear {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: $black-color;
    @media (max-width: 720px) {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__col {
    width: 300px;
    @media (max-width: 720px) {
      overflow-y: scroll;
      position: fixed;
      left: -1000px;
      top: 0;
      z-index: 100;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: $lightgrey-color;
      max-width: none;
      width: 100%;
      height: 100%;
      transition: 0.2s ease-in-out;
      padding: 0 16px;
    }
  }
  &__col::-webkit-scrollbar-track {
    background: #dddddd;
    border-radius: 5px;
  }
  &__col::-webkit-scrollbar-thumb {
    background: $grey-color;
    border-radius: 5px;
  }
  &__col::-webkit-scrollbar {
    width: 4px;
  }
  &__col.active {
    @media (max-width: 720px) {
      position: fixed;
      left: 0;
      z-index: 1000;
    }
  }
  &__amount {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: $grey-color;
    margin-bottom: 21px;
    @media (max-width: 720px) {
      align-items: center;
      font-size: 14px;
      line-height: 18px;
      width: unset;
      margin-bottom: 0;
    }
  }
  &__table {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1300px) {
      padding: 0 20px;
    }
  }
  &__col2 {
    display: flex;
    flex-direction: column;
    @media (max-width: 720px) {
      // padding: 0 16px;
    }
  }
  &__top-container {
    @media (max-width: 720px) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }
  &__filter-btn_mobile {
    display: none;
    @media (max-width: 720px) {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
  &__col-title_mobile {
    @media (max-width: 720px) {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      margin: 0;
      margin-left: 10px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $lightgrey-color;
    border-radius: 5px;
    max-width: 830px;
    width: 100%;
    max-height: 220px;
    height: 100%;
    padding: 28px 24px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-bottom: 24px;
    @media (max-width: 720px) {
      margin-bottom: 16px;
      max-height: unset;
    }
  }
  &__item:hover {
    background: $main-color;
    transition: 0.4s ease-in-out;
  }
  &__item:hover &__name,
  &__item:hover &__desc,
  &__item:hover &__level {
    color: $white-color;
    transition: 0.2s ease-in-out;
  }
  &__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: $grey-color;
    margin: 0 0 16px 0;
    transition: 0.2s ease-in-out;
    @media (max-width: 720px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  &__desc {
    margin: 0 0 16px 0;
    @media (max-width: 720px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
  &__desc,
  &__level {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: 0.2s ease-in-out;
  }
  &__level {
    margin: 0;
  }
  &__pagination {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    @media (max-width: 1300px) {
      padding: 0 20px;
    }
    @media (max-width: 720px) {
      padding: 0 16px;
    }
  }
}

.filter {
  &__input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }
  &__item {
    max-height: 190px;
    overflow-y: scroll;
    padding-right: 8px;
    margin-bottom: 20px;
    @media (max-width: 720px) {
      max-height: 160px;
    }
  }
  &__item:last-child::-webkit-scrollbar-track {
    background: none;
  }
  &__item::-webkit-scrollbar-track {
    background: #dddddd;
    border-radius: 5px;
  }
  &__item::-webkit-scrollbar-thumb {
    background: $grey-color;
    border-radius: 5px;
  }
  &__item::-webkit-scrollbar {
    width: 4px;
  }
  &__input {
    display: flex;
    align-items: center;
  }
  &__label {
    margin-left: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    @media (max-width: 720px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__name:first-child {
    border: none;
  }
  &__name {
    margin-bottom: 22px;
    border-top: 1px solid #dddddd;
    padding-top: 12px;
    @media (max-width: 1300px) {
      margin-bottom: 12px;
    }
  }
  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    &__checkbox {
      --active: #ff4f3d;
      --active-inner: #fff;
      --border-hover: #ff4f3d;
      --background: #fff;
      --disabled: #f6f8ff;
      --disabled-inner: #e1e6f9;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 22px;
      height: 22px;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      cursor: pointer;
      border: 1px solid #000000;
      background: $white-color;
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
      @media (max-width: 720px) {
        width: 16px;
        height: 16px;
      }
      &:after {
        content: '';
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
          opacity var(--d-o, 0.2s);
      }
      &:checked {
        background: $main-color;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
          opacity var(--d-o, 0.2s);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
        border: none;
      }
      &:disabled {
        border: 1px solid #616161;
        cursor: not-allowed;
        &:checked {
          --b: var(--disabled-inner);
        }
        & + label {
          cursor: not-allowed;
        }
      }
      &:not(.switch) {
        &:after {
          opacity: var(--o, 0);
        }
        &:checked {
          --o: 1;
        }
      }
      &:not(.switch) {
        border-radius: 5px;
        &:after {
          width: 8px;
          height: 13px;
          border: 2px solid $white-color;
          border-top: 0;
          border-left: 0;
          transform: rotate(43deg);
          position: relative;
          bottom: 3px;
        }
      }
      &.switch {
        width: 38px;
        border-radius: 11px;
        &:after {
          left: 2px;
          top: 2px;
          border-radius: 50%;
          width: 15px;
          height: 15px;
        }
        &:disabled {
          &:not(:checked) {
            &:after {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}

.career-benefits {
  margin-bottom: 90px;
  @media (max-width: 1300px) {
    padding: 0 20px;
  }
  @media (max-width: 720px) {
    padding: 0;
  }
  &__content {
    flex-direction: column;
    background: $lightgrey-color;
    padding: 52px 0 52px 0;
  }
  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    row-gap: 50px;
    column-gap: 90px;
    width: 100%;
    max-width: 797px;
    @media (max-width: 840px) {
      column-gap: 20px;
      padding: 0 20px;
    }
    @media (max-width: 720px) {
      grid-template-columns: repeat(auto-fill, minmax(163px, 1fr));
      padding: 0 16px;
      column-gap: 5px;
    }
    @media (max-width: 370px) {
      grid-template-columns: repeat(auto-fill, minmax(133px, 1fr));
      padding: 0 16px;
      column-gap: 5px;
    }
  }
  &__title {
    text-align: center;
  }
  &__item {
    display: flex;
    max-width: 205px;
  }
  &__img {
    margin-right: 16px;
    @media (max-width: 370px) {
      margin-right: 8px;
      max-width: 40px;
    }
  }
  &__desc {
    font-size: 16px;
    line-height: 20px;
    @media (max-width: 720px) {
      font-size: 14px;
      line-height: 18px;
    }
    @media (max-width: 370px) {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
