.article {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 830px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 60px;
    @media (max-width: 1260px) {
      padding: 16px;
    }
  }
  &__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    margin: 0 0 48px 0;
    @media (max-width: 885px) {
      font-size: 24px;
      line-height: 31px;
      margin: 0 0 24px 0;
    }
  }
  &__img {
    margin: 16px 0 32px 0;
    width: 100%;
  }
  &__author,
  &__date {
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
  }
  &__date {
    color: $grey-color;
  }
  &__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 32px 0;
    @media (max-width: 885px) {
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 12px 0;
    }
  }
  &__subtitle {
    font-weight: 800;
    font-size: 32px;
    line-height: 42px;
    margin: 0 0 32px 0;
    @media (max-width: 885px) {
      font-size: 24px;
      line-height: 31px;
    }
  }
  &__list {
    margin: 0;
  }
  &__arrow {
    position: absolute;
    top: 20px;
    left: -80px;
    cursor: pointer;
    @media (max-width: 1000px) {
      left: -30px;
    }
    @media (max-width: 885px) {
      position: unset;
      margin-bottom: 16px;
    }
  }
  &__arrow-img {
    width: 40px;
    @media (max-width: 885px) {
      width: 25px;
    }
  }
}
