.careers-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  @media (max-width: 1260px) {
    padding: 0 20px;
  }
  @media (max-width: 720px) {
    padding: 0;
    margin-top: 0;
  }

  &__top {
    width: 100%;
    display: flex;
    justify-content: center;
    // @media (max-width: 1260px) {
    //   padding: 0 20px;
    // }
    // @media (max-width: 720px) {
    //   padding: 0 16px;
    // }
  }
  &__main-title {
    margin-bottom: 32px;
    @media (max-width: 720px) {
      margin-bottom: 16px;
    }
  }
  &__top-content {
    background: $dark-background;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1260px;
    width: 100%;
    padding: 40px 0 40px 108px;
    @media (max-width: 910px) {
      padding: 30px 0 30px 48px;
    }
    @media (max-width: 720px) {
      border-radius: 5px;
      padding: 24px 16px;
    }
  }
  &__img {
    position: absolute;
    bottom: 0;
    right: 120px;
    transition: 0.3s ease;
    @media (max-width: 1030px) {
      right: 0;
    }
    @media (max-width: 910px) {
      max-width: 256px;
      transition: 0.3s ease;
    }
    @media (max-width: 800px) {
      max-width: 236px;
      transition: 0.3s ease;
    }
    @media (max-width: 720px) {
      display: none;
    }
  }
  &__text-container {
    max-width: 464px;
    width: 100%;
    @media (max-width: 800px) {
      max-width: 414px;
      transition: 0.3s ease;
    }
    @media (max-width: 720px) {
      max-width: unset;
    }
  }
  &__text {
    color: $white-color;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    @media (max-width: 720px) {
      margin: 0;
    }
  }
  &__input {
    margin-bottom: 54px;
    padding-left: 108px;
    @media (max-width: 910px) {
      padding-left: 48px;
    }
    @media (max-width: 720px) {
      padding: 0 16px;
      margin-bottom: 32px;
      margin-top: 30px;
      width: 100%;
    }
  }
  &__search {
    position: relative;
    width: 100%;
  }
  &__search-input {
    border: 1px solid $grey-color;
    border-radius: 5px;
    position: relative;
    max-width: 507px;
    width: 100%;
    padding: 14px 20px 14px 44px;
    outline: none;
    margin: 0;
    @media (max-width: 730px) {
      max-width: unset;
    }
  }
  &__search-loupe {
    position: absolute;
    top: 13px;
    left: 18px;
  }
}

.careers {
  &__content {
    flex-direction: column;
    padding-bottom: 90px;
    @media (max-width: 720px) {
      padding-bottom: 48px;
    }
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1260px;
    transition: 0.3s ease;
    @media (max-width: 1210px) {
      max-width: 620px;
    }
    @media (max-width: 720px) {
      max-width: 350px;
    }
    @media (max-width: 352px) {
      justify-content: space-between;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 293px;
    height: 204px;
    background: $lightgrey-color;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 32px;
    transition: 0.3s ease;
    @media (max-width: 720px) {
      width: 160px;
      height: 111px;
    }
    @media (max-width: 460px) {
      width: 160px;
      height: 111px;
    }
    @media (max-width: 370px) {
      width: 135px;
      height: 101px;
    }
  }
  &__item:hover {
    background: $main-color;
    transition: 0.3s ease-in-out;
  }
  &__item:hover &__number,
  &__item:hover &__vacancy-name,
  &__item:hover &__vac {
    color: $white-color;
    transition: 0.2s ease-in-out;
  }
  &__number,
  &__vacancy-name {
    font-weight: 700;
  }
  &__number,
  &__vacancy-name,
  &__vac {
    color: $black-color;
    font-size: 16px;
    line-height: 20px;
  }
  &__vac {
    font-weight: 600;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__subtitle {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 28px 0 44px 0;
    padding-left: 30px;
  }
  &__all {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    color: $black-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    @media (max-width: 720px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
