.contacts {
  margin-top: 140px;
  @media (max-width: 800px) {
    margin-top: 70px;
  }
  &__content {
    flex-direction: column;
    @media (max-width: 1300px) {
      padding: 0 20px;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 52px 0 70px 0;
    width: 100%;
    @media (max-width: 800px) {
      flex-direction: column;
      margin: 24px 0 28px 0;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    background: $lightgrey-color;
    padding: 36px 48px;
    max-width: 661px;
    width: 100%;
    @media (max-width: 800px) {
      padding: 36px 16px;
    }
  }
  &__input {
    background: $white-color;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 14px 0 14px 24px;
    outline: none;
    margin-bottom: 28px;
    transition: 0.2s ease;
  }
  &__label {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  &__input::placeholder {
    color: $grey-color;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  &__input:focus {
    transition: 0.2s ease;
    border: 1px solid #2ed8ea;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  &__input:hover {
    transition: 0.2s ease;
    border: 1px solid #8d8d8d;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  &__input:disabled {
    border: 2px solid #e3e8ee;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  &__textarea {
    height: 158px;
    resize: none;
  }
  &__top {
    position: relative;
    background: $dark-background;
    width: 100%;
  }
  &__img {
    position: absolute;
    bottom: 0;
    right: 120px;
    transition: 0.3s ease;
    @media (max-width: 800px) {
      max-width: 176px;
      right: 60px;
      transition: 0.3s ease;
    }
    @media (max-width: 500px) {
      max-width: 146px;
      right: 20px;
      transition: 0.3s ease;
    }
    @media (max-width: 370px) {
      max-width: 120px;
      right: 10px;
      transition: 0.3s ease;
    }
  }
  &__main-title {
    color: $white-color;
    padding: 92px 108px;
    margin-bottom: 0;
    @media (max-width: 800px) {
      font-size: 24px;
      padding: 67px 24px;
    }
    @media (max-width: 370px) {
      font-size: 22px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    @media (max-width: 800px) {
      padding-left: 0;
      margin-top: 32px;
    }
  }
  &__text,
  &__text_phone,
  &__text_address {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    @media (max-width: 800px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__text_address {
    margin: 0;
  }
  &__text {
    max-width: 507px;
    margin-bottom: 24px;
  }
  &__text_phone {
    margin-top: 8px;
  }
}
